gettyimages-1283003212-2048x2048.jpg
download.jpeg
stock-photo-portrait-of-man-wearing-surgical-mask-on-chin-masking-policy-concept-1698969001.jpg
stock-photo-young-woman-demonstrates-the-right-and-wrong-way-to-wear-a-mask-to-avoid-the-spread-of-coronavirus-1712038264.jpg
stock-photo-young-woman-wears-protective-face-mask-wrong-way-incorrect-wearing-masks-should-cover-nose-as-1787596703.jpg
young-man-wearing-black-face-260nw-1696092880.jpg
young-man-wearing-black-face-260nw-1696092880.jpg
test_video.py
stock-photo-young-beautiful-caucasian-female-college-student-using-tablet-on-a-staircase-improving-online-2449759097.jpg
.streamlit/secrets.toml
best.onnx
__pycache__
venv/
protection-against-contagious-disease-coronavirus-260nw-1655685505.webp